*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #FFEEDB;
}

.container{
    background-color: #ffff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 50vh;
}

.container h1{
    font-size: 2rem;
}

form{
    margin: 2rem 0 1rem 0;
}
.amount p{
    font-size: 1rem;
}

form input,select,button {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgray;
    height: 3rem;
    padding-left: 0.5rem;
    font-size: 1rem;
}

.drop-down{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.select-container img{
    max-width: 2rem;
}

.select-container{
    border: 1px solid lightgray;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    padding: 0.3rem;
}

.select-container select{
    font-size: 1rem;
    width: auto;
}

.drop-down i{
    font-size: 1rem;
    margin-top: 1rem;
    cursor: pointer;
}

.msg{
    margin: 2rem 0;
}

form button{
    height: 3rem;
    color: #fff;
    font-size: 1.15rem;
    background-color: #af4d98;
    cursor: pointer;
}